<app-breadcrumb [breadcrumbList]="breadCrumpList"></app-breadcrumb>
<main class="container">
  <div class="row">
    <div class="col-sm-3 ">
      <div class="card ">
        <mat-calendar [selected]="selectedDate" [startAt]="startAt"
          [minDate]="minDate" [maxDate]="maxDate" [dateFilter]="myDateFilter" (selectedChange)="onSelect($event)"
          [dateClass] ="dateClass"
          >
        </mat-calendar>
      </div>
    </div>
    <div class="col-sm-3">
      <h1 class="h2">Dashboard</h1>
    </div>
  </div>
</main>